<div class="page__container">

{{ heading_6 }}

<pre>
<code>
{{ heading_6|e }}
</code>
</pre>

{{ heading_5 }}

<pre>
<code>
{{ heading_5|e }}
</code>
</pre>

{{ heading_4 }}

<pre>
<code>
{{ heading_4|e }}
</code>
</pre>

{{ heading_3 }}

<pre>
<code>
{{ heading_3|e }}
</code>
</pre>

{{ heading_2 }}

<pre>
<code>
{{ heading_2|e }}
</code>
</pre>

{{ heading_1 }}

<pre>
<code>
{{ heading_1|e }}
</code>
</pre>

{{ circle_list }}

<pre>
<code>
{{ circle_list|e }}
</code>
</pre>

{{ bold_headline_caps }}

<pre>
<code>
{{ bold_headline_caps|e }}
</code>
</pre>

{{ bold_headline_serif }}

<pre>
<code>
{{ bold_headline_serif|e }}
</code>
</pre>

{{ bold_headline_serif_underline }}

<pre>
<code>
{{ bold_headline_serif_underline|e }}
</code>
</pre>

{{ striped_table }}

<pre>
<code>
{{ striped_table|e }}
</code>
</pre>

{{ bold_intro }}

<pre>
<code>
{{ bold_intro|e }}
</code>
</pre>

{{ button_1}}

<pre>
<code>
{{ button_1|e }}
</code>
</pre>

{{ button_2}}

<pre>
<code>
{{ button_2|e }}
</code>
</pre>

{{ button_3}}

<pre>
<code>
{{ button_3|e }}
</code>
</pre>

{{ button_4}}

<pre>
<code>
{{ button_4|e }}
</code>
</pre>

{{ button_5}}

<pre>
<code>
{{ button_5|e }}
</code>
</pre>

</div>
