<div class="page__container">
	<h1>Heading classes</h1>

	<p class="h6">Heading 6</p>
	<pre>
<code>
{{ heading_6|e }}
</code>
</pre>

	<p class="h5">Heading 5</p>
	<pre>
<code>
{{ heading_5|e }}
</code>
</pre>

	<p class="h4">Heading 4</p>
	<pre>
<code>
{{ heading_4|e }}
</code>
</pre>

	<p class="h3">Heading 3</p>
	<pre>
<code>
{{ heading_3|e }}
</code>
</pre>

	<p class="h2">Heading 2</p>
	<pre>
<code>
{{ heading_2|e }}
</code>
</pre>

	<p class="h1">Heading 1</p>
	<pre>
<code>
{{ heading_1|e }}
</code>
</pre>

	<h1>Numbered List</h1>

	{{ circle_list }}

	<pre>
<code>
{{ circle_list|e }}
</code>
</pre>

	{{ bold_headline_caps }}

	<pre>
<code>
{{ bold_headline_caps|e }}
</code>
</pre>

	{{ bold_headline_serif }}

	<pre>
<code>
{{ bold_headline_serif|e }}
</code>
</pre>

	{{ bold_headline_serif_underline }}

	<pre>
<code>
{{ bold_headline_serif_underline|e }}
</code>
</pre>

	<h1>Striped Table</h1>

	{{ striped_table }}

	<pre>
<code>
{{ striped_table|e }}

</code>
</pre>

</div>
