<div class="portrait__bg">

	{% if not attributes is defined %}
		{% include '@headline' with {
      "headline_level": 'h2',
			"headline_title": 'Social Profiles',
			"headline_type": 'bold-headline--negative'
    } %}
	{% endif %}

	<div class="portrait__wrapper">
		<ul class="portrait__container">

			{% for item in portrait.items %}

				<li class="portrait">
					<div class="portrait__item">
						<div class="portrait__gradient">
							<h3 class="portrait__title">
								{{ item.portrait_title }}<br/>
								<span>{{ item.portrait_sub }}</span>
							</h3>
						</div>
						<div class="embed-responsive embed-responsive-9by16">
							<video class="player" controls="false" preload="metadata" poster="{{ item.portrait_poster }}">
								<source src="{{ item.portrait_link }}" type="video/mp4">
								<track label="English" kind="subtitles" srclang="en" src="{{ item.portrait_srt }}" default="default">
									<p>Video is not Supporting</p>
								</video>

							</div>
						</div>
					</li>

				{% endfor %}
			</ul>

		</div>
	</div>
