<div class="grid-panel grid-panel--{{ grid_type }}">

	<div class="{{ grid_panel_first_column }}">

		{% if grid_content_position == 'first' %}

      {% block headline %}
        {% if grid_panel_headline is not empty %}
          {% include '@headline' with {
            'headline_level' : 'h2',
            'headline_class' : 'headline--uppercase',
            'headline_text' : grid_panel_headline,
            'headline_url': link ? link.link_url : link,
            'headline_aria': banner_aria,
          } %}
        {% endif %}
      {% endblock %}

			{{ grid_panel_content }}
			{% include "@button" %}

		{% endif %}

		{% if grid_content_position == 'second' %}
			{{ grid_panel_image }}
		{% endif %}

		{% block grid_first_column %}{% endblock %}

	</div>

	<div class="{{ grid_panel_second_column }}">

		{% if grid_content_position == 'second' %}

      {% block headline %}
        {% if grid_panel_headline is not empty %}
          {% include '@headline' with {
            'headline_level' : 'h2',
            'headline_class' : 'headline--uppercase',
            'headline_text' : grid_panel_headline,
            'headline_url': link ? link.link_url : link,
            'headline_aria': banner_aria,
          } %}
        {% endif %}
      {% endblock %}

			{{ grid_panel_content }}
			{% include "@button" %}

		{% endif %}

    {% if grid_content_position == 'first' %}
			{{ grid_panel_image }}
		{% endif %}

    {% block grid_second_column %}{% endblock %}

	</div>
</div>
