{% set tab_item_number = 0 %}
{% set panel_item_number = 0 %}

<div class="tabs">
  <div role="tablist" aria-label="Entertainment">
    {% for item in items %}
      <button role="tab"
              aria-selected="{{ (tab_item_number == 0) ? 'true' : 'false' }}"
              aria-controls="panel--{{ tab_item_number }}"
              id="tab--{{ tab_item_number }}"
              {{ (tab_item_number == 0) ? '': 'tabindex="-1"' }}
      >
        {{ item.title }}
      </button>
      {% set tab_item_number = tab_item_number + 1 %}
    {% endfor %}
  </div>

  {% for item in items %}
    <div tabindex="0"
         role="tabpanel"
         id="panel--{{ panel_item_number }}"
         aria-labelledby="tab--{{ panel_item_number }}"
         {{ (panel_item_number == 0) ? '' : 'hidden=""' }}
    >
      {{ item.content }}
    </div>
    {% set panel_item_number = panel_item_number + 1 %}
  {% endfor %}
</div>
