<div class="tabs"{% if tablist_id is not empty %} id="{{ tablist_id }}"{% endif %}>
  <div role="tablist" aria-label="Entertainment">
    {% for tab_item_number, item in items %}
      <button role="tab"
              aria-selected="{{ (tab_item_number == 0) ? 'true' : 'false' }}"
              aria-controls="panel--{{ tab_item_number }}"
              id="tab--{{ tab_item_number }}"
              {{ (tab_item_number == 0) ? '': 'tabindex="-1"' }}
      >
        {{ item.title }}
      </button>
    {% endfor %}
  </div>

  {% for panel_item_number, item in items %}
    <div tabindex="0"
         role="tabpanel"
         id="panel--{{ panel_item_number }}"
         aria-labelledby="tab--{{ panel_item_number }}"
         {{ panel_item_number == 0 ? '' : 'hidden' }}
    >
      {{ item.content }}
    </div>
  {% endfor %}
</div>
