{% block card_wrapper_start %}
	<div class="card card__{{ card_position }} {{ card_classes }} {{ card_type }}">
	{% endblock %}

	{% block card_img %}
		{% if card_image %}
			<div class="media">
				<img class="card__img" src="{{ card_image }}" alt="Alt Text">
			{% endif %}
		</div>
	{% endblock %}

	<div class="card__body">

		{% block heading %}
			{% if card_title is not empty %}
				{% include "@heading" with {
          "heading_level" : 'h2',
          "heading_class" : 'card__title',
          "heading" : card_title,
          "heading_url" : card_link_url,
          "heading_aria" : card_aria
        } %}
			{% endif %}
		{% endblock %}

		{% block card_author %}
			{% if card_author %}
				<div class="card__author">{{ card_author }}</div>
			{% endif %}
		{% endblock %}

		{% block card_content %}
			{{ card_text }}
		{% endblock %}

		{% block card_bttn %}
		{% if (card_link_title is not empty) and (card_link_url is not empty) and (card_title is not empty)  %}
			<div aria-hidden="true" {% if card_aria %} id="{{ card_aria }}" {% endif %} class="bttn bttn--outline bttn--tertiary bttn--sans-serif">
				{{ card_link_title }}
				<i class="fas fa-arrow-right"></i>
			</div>
		{% endif %}

{% if (card_link_url is not empty) and (card_title is empty) %}
    <a class="bttn bttn--outline bttn--tertiary bttn--sans-serif bttn--full" href="{{ card_link_url }}">{{ card_link_title }} <i class="fas fa-arrow-right"></i></a>
{% endif %}

    {% endblock %}

	</div>

	{% block card_wrapper_end %}
	</div>
{% endblock %}
