{% block card_wrapper_start %}
  <div class="card card__{{ card_position }} {{ card_classes }} {{ card_type }}">
  {% endblock %}

  {% block card_img %}
    {% if card_image %}
      <img class="card__img" src="{{ card_image }}" alt="Alt Text">
    {% endif %}
  {% endblock %}

  <div class="card__body">

    {% block heading %}
      {% if card_title is not empty %}
        {% include "@heading" with {
          "heading_level" : 'h2',
          "heading_class" : 'card__title',
          "heading" : card_title
        } %}
      {% endif %}
    {% endblock %}

{% block card_author %}
	{% if card_author %}
		<div class="card__author">{{ card_author }}</div>
	{% endif %}
{% endblock %}


    {% block card_content %}
      <p>{{ card_text }}</p>
    {% endblock %}

      {% if card_link_url is not empty %}
    <a class="bttn bttn--outline bttn--tertiary bttn--sans-serif" href="{{ card_link_url }}">{{ card_link_title }} <i class="fas fa-arrow-right"></i></a>
  {% endif %}

  </div>

  {% block card_wrapper_end %}
  </div>
{% endblock %}
