{% block hero_wrapper_start %}
  <div class="hero hero__{{ hero_content }}">

    {% if hero_type == 'video' %}

      {% if hero_video %}
        <video class="hero__video" autoplay="autoplay" muted="muted" loop="loop" id="video-container" poster="{{ hero_image }}">
          <source src="{{ hero_video }}" type="video/mp4">
        </video>
        <!-- This picture should assume background overlay doesn't work. So it should be darker to handle contrast ratio issues. -->
        <!--[if lt IE 9]> <img src="{{ hero_image }}" alt="{{ hero_image_alt }}" class=" ie8-poster"> <![endif]-->
      </video>
    {% endif %}

  {% else %}
    <div class="hero__image">
{% include "@bg-images" %}
    </div>
  {% endif %}

{% endblock %}

{% if not (hero_content == 'grid') %}
<div class="hero__container hero__container-{{ hero_content }}">
{% endif %}

  <div class="hero__content hero__content-{{ hero_content }}">

{% if hero_content == 'grid' %}

{% include "@highlight" with {
      "highlight_title" : grid_title_1,
      "highlight_sub" : grid_sub_1
    } %}

{% include "@highlight" with {
      "highlight_title" : grid_title_2,
      "highlight_sub" : grid_sub_2
    } %}

{% include "@highlight" with {
      "highlight_title" : grid_title_3,
      "highlight_sub" : grid_sub_3
    } %}

    {% block headline %}
      {% if hero_title is not empty %}
        {% include "@headline" with {
              "headline_level" : 'h2',
              "headline_type" : 'bold-headline--caps bold-headline',
              "headline_title" : hero_title
            } %}
      {% endif %}
    {% endblock %}


{% include "@highlight" with {
      "highlight_title" : grid_title_4,
      "highlight_sub" : grid_sub_4
    } %}

{% else %}

{% block headline %}
	{% if hero_title is not empty %}
		{% include "@headline" with {
              "headline_level" : 'h2',
              "headline_type" : 'bold-headline--serif bold-headline',
              "headline_title" : hero_title
            } %}
	{% endif %}
{% endblock %}


{% endif %}




    {% if hero_content == 'center' %}
      <div class="cta">
        {% for item in cta.items %}
          <a href="{{item.link}}" class="{{ item.type }}">{{ item.text }}</a>
        {% endfor %}
      </div>
    {% endif %}

    {% if hero_content == 'bottom' %}
      {% block breadcrumbs %}
        {% include '@breadcrumbs' %}
      {% endblock %}
    {% endif %}

  </div>

  {% if hero_type == 'video' %}
    <div class="video-controls">
      <button class="video-btn video-btn__pause" id="video-btn">
        <span class="element-invisible">Pause</span>
      </button>
    </div>
  {% endif %}

{% if not (hero_content == 'grid') %}
</div>
{% endif %}

</div>
