<header>
<div class="uiowa-bar {{ header_classes }} {{ site_subnav }}">

	<div class="page__container">
		{% render '@uiowa-logo--tab' %}

{% if site_slogan %}
	<div class="uiowa-bar__slogan">{{ site_slogan }}</div>
{% endif %}


{% if site_nav == 'horizontal' %}
		{% if site_name %}
			<h1 class="uiowa-bar__title">{{ site_name }}</h1>
		{% endif %}
{% endif %}

{% if site_nav == 'off-canvas' %}
	{% if site_name %}
		<h1 class="uiowa-bar__title">{{ site_name }}</h1>
	{% endif %}
{% endif %}


{% if top_nav == 'uiowa' %}
	{% render '@top' %}
{% endif %}

{% if top_nav == 'department' %}
	{% render '@top--department' %}
{% endif %}


{% if (site_nav == 'off-canvas' or site_nav == 'horizontal') %}

<div class="o-canvas__group">

<div class="o-canvas__wrapper">
<button class="bttn bttn--primary bttn--drawer bttn--search inactive" tabindex="0" role="button" aria-expanded="false">Search
</button>
<div class="o-canvas__drawer o-canvas__search" aria-labelledby="o-canvas__searchlabel">
<div class="drawer-content">
<h2 id="o-canvas__searchlabel" class="element-invisible">Search Drawer</h2>
{% render '@search' %}
{% render '@vertical--search' %}
{% render '@quick--search' %}
</div>
</div>
</div>


<div class="o-canvas__wrapper">
<button class="bttn bttn--primary bttn--drawer bttn--menu inactive" tabindex="0" role="button" aria-expanded="false">
<span>Menu</span>
</button>
<div class="o-canvas__drawer o-canvas__menu" aria-labelledby="o-canvas__menulabel">
<div class="drawer-content">
<h2 id="o-canvas__menulabel" class="element-invisible">Menu Drawer Options</h2>
{% render '@search' %}
{% if top_nav == 'uiowa' %}
{% render '@top--reversed' %}
{% endif %}
{% render '@vertical' %}
{% render '@group' %}
{% render '@quick' %}
</div>
</div>

</div>

{% endif %}




		</div>
	</div>

</div><!--end header wrapper-->

{% if site_nav == 'department' %}
<div class="site_name--wrapper {{ header_classes }} {{ site_subnav }}">


<div class="page__container">

{% if site_name %}
	<h1 class="uiowa-bar__title">{{ site_name }}</h1>
{% endif %}


<div class="o-canvas__group">

	<div class="o-canvas__wrapper">
		<button class="bttn bttn--primary bttn--drawer bttn--search inactive" tabindex="0" role="button" aria-expanded="false">Search
		</button>
		<div class="o-canvas__drawer o-canvas__search" aria-labelledby="o-canvas__searchlabel">
			<div class="drawer-content">
				<h2 id="o-canvas__searchlabel" class="element-invisible">Search Drawer</h2>
				{% render '@search' %}
				{% render '@vertical--search' %}
				{% render '@quick--search' %}
			</div>
		</div>
	</div>


	<div class="o-canvas__wrapper">
		<button class="bttn bttn--primary bttn--drawer bttn--menu inactive" tabindex="0" role="button" aria-expanded="false">
			<span>Menu</span>
		</button>
		<div class="o-canvas__drawer o-canvas__menu" aria-labelledby="o-canvas__menulabel">
			<div class="drawer-content">
				<h2 id="o-canvas__menulabel" class="element-invisible">Menu Drawer Options</h2>
				{% render '@search' %}
				{% if top_nav == 'true' %}
					{% render '@top--reversed' %}
				{% endif %}
				{% render '@vertical' %}
				{% render '@group' %}
				{% render '@quick' %}
			</div>
		</div>

	</div>





</div>
</div>

{% endif %}



</header>

{% if site_nav == 'horizontal' %}
	<nav class="menu-horizontal {{ header_classes }}">
		<div class="page__container">
			{% render '@superfish' %}
		</div>
	</nav>
{% endif %}

{% if site_subnav == 'subnav-true' %}

<nav class="menu-horizontal {{ header_classes }} {{ site_subnav }}">

		<div class="page__container">
			{% render '@superfish' %}
		</div>
	</nav>
{% endif %}


<main class="content page__container hds-content" role="main">

	{% include '@breadcrumbs' %}

	<a id="main-content" tabindex="-1"></a>
	<article role="article" class="node node--type-page node--view-mode-full">
		<h1>Page Title</h1>
		<p>Lorem ipsum dolor sit amet, <a href="/link">consectetur adipiscing elit</a>. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>

		<h2>Second Level</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>

		<h3>Third Level</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>

		<h4>Fourth Level</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>
		<h5>Fifth Level</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum
						      mattis neque.</p>


		<ol type="1">
			<li>Coffee</li>
			<li>Tea</li>
			<li>Milk</li>
		</ol>
		<ol type="A">
			<li>Coffee</li>
			<li>Tea</li>
			<li>Milk</li>
		</ol>
		<ol type="a">
			<li>Coffee</li>
			<li>Tea</li>
			<li>Milk</li>
		</ol>
		<ol type="I">
			<li>Coffee</li>
			<li>Tea</li>
			<li>Milk</li>
		</ol>
		<ol type="i">
			<li>Coffee</li>
			<li>Tea</li>
			<li>Milk</li>
		</ol>


		<ol class="is-lower-alpha">
			<li>Coffee</li>
			<li>Tea</li>
			<li>Milk</li>
		</ol>
		<ol class="is-lower-roman">
			<li>Coffee</li>
			<li>Tea</li>
			<li>Milk</li>
		</ol>
		<ol class="is-upper-alpha">
			<li>Coffee</li>
			<li>Tea</li>
			<li>Milk</li>
		</ol>
		<ol class="is-upper-roman">
			<li>Coffee</li>
			<li>Tea</li>
			<li>Milk</li>
		</ol>

	</article>
</main>





<style>

.block-superfish,
.region-primary-menu {
  margin-left: 0;
}

.menu-horizontal {
  background: #f1f1f1;
  padding-top: 10px;

}

.block-superfish .menu li a {
  position: relative;
  padding: 1.4rem 1rem;

}

main {
  margin-top: 60px !important;
}

.breadcrumb {
  display: none;
}

.block-superfish .sf-style-none>li>a.sf-depth-1.menuparent::before,
.block-superfish .menu>li>a.sf-depth-1.menuparent::before {
  right: .7125rem;

  font-size: .8rem;
}

.block-superfish .sf-style-none ul,
.block-superfish .menu ul {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  background: #000;
}

.sf-menu ul li {
  background: #333;
}

</style>
