{% if tablist_id is empty %}
  {% set tablist_id = 0 %}
{% endif %}

{% if names is empty %}
  {% set names = {
    0: 'chocolate_chip',
    1: 'sugar',
    2: 'snickerdoodle',
    3: 'oatmeal',
  }
  %}
{% endif %}

<div class="tabs-collection" id="tabs--{{ tablist_id }}">
  <div role="tablist" aria-label="Entertainment">
    {% for tab_item_number, item in items %}
      <button role="tab"
              aria-selected="{{ (tab_item_number == 0) ? 'true' : 'false' }}"
              aria-controls="tabs--{{ tablist_id }}__panel--{{ tab_item_number }}"
              id = "{{ names[tab_item_number] }}"
              {{ (tab_item_number == 0) ? '': 'tabindex="-1"' }}
      >
        {{ item.title }}
      </button>
    {% endfor %}
  </div>

  {% for panel_item_number, item in items %}
    <div tabindex="0"
         role="tabpanel"
         id="tabs--{{ tablist_id }}__panel--{{ panel_item_number }}"
         aria-labelledby="{{ names[panel_item_number] }}"
    >
      {{ item.content }}
    </div>
  {% endfor %}
</div>
