{% block program_wrapper_start %}
  <div class="program {{ program_classes }}">
  {% endblock %}


  {% block program_container_start %}
    <div class="program__wrapper">
      <div class="program__container">
      {% endblock %}

      {% block heading %}
        {% if program_title is not empty %}
            <h2 class="bold-headline bold-headline--serif">{{ program_title }}</h2>
  {#
            {% include "@heading" with {
              "heading_level" : 'h2',
              "heading_class" : 'bold-headline bold-headline--serif',
              "heading" : program_title
            } %}
  #}
        {% endif %}
      {% endblock %}

      {% block content %}
        {% if program_description is not empty %}
            <p class="program__description">{{ program_description }}</p>
        {% endif %}
      {% endblock %}

    </div>
  </div>

  {% block program_bottom_container_start %}
    <div class="program__bottom__wrapper {{ program_bottom_classes }}">
    {% endblock %}

    {% block program_excerpt_container_start %}
      <div class="program__excerpt__wrapper {{ program_excerpt_classes }}">
        <div class="program__excerpt__container">
        {% endblock %}

        {% block heading %}
          {% if program_excerpt_title is not empty %}
              <h3 class="{{ program_bottom_cta_classes }}">{{ program_excerpt_title }}</h3>
    {#
              {% include "@heading" with {
                "heading_level" : 'h3',
                "heading_class" : 'bold-headline bold-headline--serif',
                "heading" : program_excerpt_title
              } %}
    #}
          {% endif %}
        {% endblock %}

        {% block content %}
          {% if program_excerpt is not empty %}
              <p class="program__excerpt">{{ program_excerpt }}</p>
          {% endif %}
        {% endblock %}

      </div>
    </div>


    {% block program_cta_container_start %}
      <div class="program__cta__wrapper {{ program_cta_classes }}">
        <div class="program__cta__container">
        {% endblock %}

        {% block heading %}
          {% if program_cta_title is not empty %}
              <h3 class="{{ program_bottom_cta_classes }}"">{{ program_cta_title }}</h3>
    {#
              {% include "@heading" with {
                "heading_level" : 'h3',
                "heading_class" : 'bold-headline bold-headline--serif',
                "heading" : program_cta_title
              } %}
    #}
          {% endif %}
        {% endblock %}

        {% block content %}
          {% if program_cta_excerpt is not empty %}
              <p class="program__cta__excerpt">{{ program_cta_excerpt }}</p>
          {% endif %}
        {% endblock %}

        {% block content %}
          {% if program_cta_link_url %}
            <div class="program__cta__link">
              <a href="{{ cta_link_url }}" class="{{ bttn_class }}">{{ program_cta_link_title }}
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          {% endif %}
        {% endblock %}

      </div>
    </div>

  </div>

</div>
