<blockquote class="{{ blockquote_class }}">
  {% if blockquote_image_position == 'blockquote--img-above' %}
    <div class="blockquote__media"> <img src="{{ blockquote_image }}" class="media--circle" /> </div>
  {% endif %}
  <div class="blockquote__content">{{ blockquote_content }}</div>

  <footer>
    {% if blockquote_image_position == 'blockquote--img-below' %}
      <div class="blockquote__media"> <img src="{{ blockquote_image }}" class="media--circle" /> </div>
    {% endif %}
    <div>
    {{ blockquote_footer }}
    <cite>
      {% if blockquote_cite_url is not empty %}
        <a href="{{ blockquote_cite_url }}">{{ blockquote_cite_text }}</a>
      {% else %}
        {{ blockquote_cite_text }}
      {% endif %}
    </cite>
    </div>
  </footer>
</blockquote>
