<div class="grid-panel grid-panel--{{ grid_type }}">

	<div class="{{ grid_panel_first_column }}">

		{% if grid_content_position == 'first' %}

			{% include "@headline" with {
              "heading_level" : 'h2',
              "heading_class" : 'bold-headline--caps bold-headline',
              "heading" : grid_panel_headline,
            } %}

			{{ grid_panel_content }}
			{% include "@button" %}

		{% endif %}

		{% if grid_content_position == 'second' %}
			{{ grid_panel_image }}
		{% endif %}

		{% block grid_first_column %}{% endblock %}

	</div>

	<div class="{{ grid_panel_second_column }}">

		{% if grid_content_position == 'second' %}

			{% include "@headline" with {
              "heading_level" : 'h2',
              "heading_class" : 'bold-headline--caps bold-headline',
              "heading" : grid_panel_headline,
            } %}

			{{ grid_panel_content }}
			{% include "@button" %}

		{% endif %}

    {% if grid_content_position == 'first' %}
			{{ grid_panel_image }}
		{% endif %}

    {% block grid_second_column %}{% endblock %}

	</div>
</div>
