<div class="hero hero__{{ hero_content }} hero--{{ hero_overlay }} hero--{{ hero_size }} {{ hero_classes }}">

  {% block hero_media %}
    {% if hero_type == 'video' %}
      <video class="hero__video" autoplay="autoplay" muted="muted" loop="loop" id="video-container" poster="{{ hero_image }}">
        <source src="{{ hero_video }}" type="video/mp4">
      </video>
      <!-- This picture should assume background overlay doesn't work. So it should be darker to handle contrast ratio issues. -->
      <!--[if lt IE 9]> <img src="{{ hero_image }}" alt="{{ hero_image_alt }}" class=" ie8-poster"> <![endif]-->
    {% endif %}

    {% if hero_type == 'image' %}
      <div class="hero__image">
        {% render "@image" %}
      </div>
    {% endif %}
  {% endblock %}

  {% block hero_content_wrapper %}
    <div class="hero__container hero__container-{{ hero_content}}">
      <div class="hero__content hero__content-{{ hero_content }}">

        {% if hero_type == 'video' %}
          <div class="video-controls video">
            <button class="video-btn video-btn__pause" id="video-btn">
              <span class="element-invisible">Pause</span>
            </button>
          </div>
        {% endif %}

        {% block headline %}
          {% if hero_title is not empty %}
            {% include "@headline" with {
              "heading_level" : 'h2',
              "heading_class" : hero_title_classes,
              "heading" : hero_title
            } %}
          {% endif %}
        {% endblock %}

        {{ hero_text }}

      </div>
    </div>

  {% endblock %}
</div>
