{% if site_name_tag is empty %}
	{% set site_name_tag = 'h1' %}
{% endif %}
{% if site_name %}
	<link rel="stylesheet" href="{{ '/components/prototype/site-name/site-name.css'|path }}">
	<{{ site_name_tag }} class="site-name">
		{% if site_name_link %}
		<a href="{{ site_name_link }}">
			{% endif %}
			{{ site_name }}
			{% if site_name_link %}
		</a>
		{% endif %}
	</{{ site_name_tag }}>
{% endif %}
