<div role="region">
  <div class="region region-alert">
    <div id="block-uids-base-alertsblock" class="block block-uiowa-alerts block-uiowa-alerts-block">
      <div class="uiowa-alerts-wrapper">
        <div class="alert {{ alert_level }}" role="alert">
          <div class="hawk-alert-message">
            {% if alert_heading is not empty %}
              <span class="hawk-alert-heading">
                <span class="hawk-alert-label">{{ alert_heading }}</span>
                <span class="hawk-alert-date">{{ alert_date }}</span>
              </span>
            {% endif %}
            <span class="hawk-alert-body">
              <p>{{ alert_icon}}{{ alert_text }}</p>
            </span>
            <a class="hawk-alert-link alert-link" href="{{ alert_link }}">{{ alert_link_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
