{% set link_element, show_button = false, false %}
{% if hero_link_url is not empty %}
	{% if hero_title is not empty %}
		{# Title is set, use it as the linking element.  #}
		{% set link_element = 'title' %}
		{# If we also have link text, then we'll show a psuedo-button. #}
		{% if hero_link_title is not empty %}
			{% set show_button = true %}
		{% endif %}
	{% elseif hero_link_title is not empty %}
		{# Title is not set, but there is link text, so use that instead. #}
		{% set link_element = 'button' %}
		{# Show an actual link button. #}
		{% set show_button = true %}
	{% endif %}
{% endif %}

<div class="hero hero--{{ hero_overlay }} hero--{{ hero_size }} {{ hero_classes }} {{ hero_vertical_alignment }} {{ hero_horizontal_alignment }}">


  {% block hero_media %}
    {% if hero_type == 'video' %}
      <video class="hero__video" autoplay="autoplay" muted="muted" loop="loop" id="video-container" poster="{{ hero_image }}">
        <source src="{{ hero_video }}" type="video/mp4">
      </video>
      <!-- This picture should assume background overlay doesn't work. So it should be darker to handle contrast ratio issues. -->
      <!--[if lt IE 9]> <img src="{{ hero_image }}" alt="{{ hero_image_alt }}" class=" ie8-poster"> <![endif]-->
    {% endif %}

    {% if hero_type == 'image' %}
    {% if hero_image %}
      <div class="hero__image">
        <img src="{{ hero_image }}" alt="Alt Text">
      </div>
      {% endif %}
    {% endif %}
  {% endblock %}

  {% block hero_content_wrapper %}
    <div class="hero__container">
      <div class="hero__content">

        {% if hero_type == 'video' %}
          <div class="video-controls video">
            <button class="video-btn video-btn__pause" id="video-btn">
              <span class="element-invisible">Pause</span>
            </button>
          </div>
        {% endif %}

        {% block headline %}
          {% if hero_title is not empty %}
            {% include "@headline" with {
              "heading_level" : 'h2',
              "heading_class" : hero_title_classes,
              "heading" : hero_title,
              'heading_url': hero_link_url,
              'heading_aria': hero_aria
            } %}
          {% endif %}
        {% endblock %}

        {{ hero_text }}

    {% block hero_bttn %}
      {% if hero_link_url is not empty and show_button %}
        {% if link_element == 'button' %}
          <a class="{{ hero_link_classes }}" href="{{ hero_link_url }}">
            {{ hero_link_title }}
            <i class="fas fa-arrow-right"></i>
          </a>
        {% else %}
          <div aria-hidden="true" class="{{ hero_link_classes }}"{% if hero_aria %} id="{{ hero_aria }}"{% endif %}>
            {{ hero_link_title }}
            <i class="fas fa-arrow-right"></i>
          </div>
        {% endif %}
      {% endif %}
    {% endblock %}

      </div>
    </div>

  {% endblock %}
</div>
