<div class="{{ blockquote_classes }}">
	<blockquote>
		{{ blockquote_content }}

		<footer>
			{{ blockquote_footer }}

			<cite>
				{% if blockquote_cite_url is not empty %}
					<a href="{{ blockquote_cite_url }}">{{ blockquote_cite_text }}</a>
				{% else %}
					{{ blockquote_cite_text }}

				{% endif %}
			</cite>
		</footer>
	</blockquote>
</div>

